<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/stylesheet/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheet/stylesheet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/assets/javascript/jquery.min.js"></script>
    <script src="/assets/javascript/bootstrap.min.js"></script>
    <title>کتاب‌های حذف شده</title>
</head>

<body>
    <div class="text-center">
        <div class="container">
            <div class="form-signin">
                <h3>لیست کتاب‌ها</h3>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isPageNoSorted">
                    <label class="form-check-label" for="defaultCheck1" dir="rtl">
                        مرتب‌سازی براساس تاریخ
                    </label>
                </div>
                <br>
                <table class="table">
                    <tr>
                        <th class="text-center">نام کتاب</th>
                        <th class="text-center">تعداد صفحات</th>
                        <th class="text-center">بازیابی</th>
                    </tr>

                    <% for (var i = 0; i < books.length; i++) { %>
                        <tr class="bookInformation">
                            <td>
                                <%= books[i].name %>
                            </td>
                            <td>
                                <%= books[i].pageCount %>
                            </td>
                            <td>
                                <button class="revertButton" onclick="revert('<%= books[i].name %>', '<%= books[i].pageCount %>')">
                                    <i class='material-icons'>restore</i>
                                </button>
                            </td>
                        </tr>
                    <% } %>
                </table>
                <% if (pages > 0) { %>
                    <ul class="pagination text-center">
                        <% if (currentPage == 1) { %>
                            <li class="disabled">
                                <a>صفحه اول</a>
                            </li>
                            <% } else { %>
                                <li>
                                    <a href="/deletedBookList/<%= isPageNoSorted %>/1">صفحه اول</a>
                                </li>
                                <% } %>
                                    <% var i = (Number(currentPage) > 5 ? Number(currentPage) - 4 : 1) %>
                                        <% if (i !== 1) { %>
                                            <li class="disabled">
                                                <a>...</a>
                                            </li>
                                            <% } %>
                                                <% for (; i <= (Number(currentPage) + 4) && i <= pages; i++) { %>
                                                    <% if (i == currentPage) { %>
                                                        <li class="active">
                                                            <a>
                                                                <%= i %>
                                                            </a>
                                                        </li>
                                                        <% } else { %>
                                                            <li>
                                                                <a href="/deletedBookList/<%= isPageNoSorted %>/<%= i %>">
                                                                    <%= i %>
                                                                </a>
                                                            </li>
                                                            <% } %>
                                                                <% if (i == Number(currentPage) + 4 && i < pages) { %>
                                                                    <li class="disabled">
                                                                        <a>...</a>
                                                                    </li>
                                                                    <% } %>
                                                                        <% } %>
                                                                            <% if (currentPage == pages) { %>
                                                                                <li class="disabled">
                                                                                    <a>صفحه آخر</a>
                                                                                </li>
                                                                                <% } else { %>
                                                                                    <li>
                                                                                        <a href="/deletedBookList/<%= isPageNoSorted %>/<%= pages %>">صفحه آخر</a>
                                                                                    </li>
                        <% } %>
                    </ul>
                <% } %>
            </div>
        </div>
    </div>
</body>
<script>
    $('#isPageNoSorted').change(function () {
        isPageNoSorted = !isPageNoSorted
            console.log('/bookShow/' + isPageNoSorted + '/' + <%= currentPage%>)
            window.location.assign('http://localhost:2000/deletedBookList/' + isPageNoSorted + '/' +
                <%= currentPage%>)
            
    })
    function revert(bookname) {
        $.post('/revert/' + bookname).done(
            window.location.assign('/deletedBookList/' + isPageNoSorted + '/' + <%= currentPage%>)
        )
    }
</script>
</html>